<ul class="links">

  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  

<!-- 
      <li class="{% if page.url contains '/artwork/' %} active {% endif %}"><a href="{{ "/artwork/" | absolute_url }}">Art</a></li>
 
-->
  
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  
      <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href="{{ "/contact/" | absolute_url }}">Contact</a></li>

    <li class="{% if page.url contains '/CV/' %} active {% endif %}"><a href="{{ "/CV/" | absolute_url }}">CV</a></li>


  <li class="{% if page.url contains '/publications/' %} active {% endif %}"><a href="{{ "/posters/" | absolute_url }}">Posters</a></li>


  
  <li class="{% if page.url contains '/publications/' %} active {% endif %}"><a href="{{ "/publications/" | absolute_url }}">Publications</a></li>
  
        

       <li class="{% if page.url contains '/teaching/' %} active {% endif %}"><a href="{{ "/teaching/" | absolute_url }}">Teaching</a></li>
  

</ul>

<ul class="icons">

  <li><a href="https://www.raynamharris.com/feed.xml" class="icon fa-rss"  rel='alternate'><span class="label">RSS</span></a></li>
    
 <li><a href="https://orcid.org/0000-0002-7943-5650" class="icon fa-orcid" rel="me"><span class="label">ORCID</span></a></li>

  <li><a href="https://github.com/raynamharris" class="icon fa-github" rel="me"><span class="label">GitHub</span></a></li>
  
  <li><a href="https://twitter.com/raynamharris" class="icon fa-twitter" rel="me"><span class="label">Twitter</span></a></li>
  
  <li><a href="https://www.instagram.com/raynamharris/" class="icon fa-instagram" rel="me"><span class="label">Instagram</span></a></li>
  
    <li><a href="https://www.youtube.com/watch?v=ssGuxnD_NCo&list=PLNfIROxhN1JCCkQgRx2qzDz52VHPIhC_6" class="icon fa-youtube" rel="me"><span class="label">YouTube</span></a></li>

  
  <li><a href="https://www.linkedin.com/in/rayna-harris-484802ba/" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
  
</ul>
