<div id="share-bar">

  <p>To share this entry, or reference it in commentary of your own, link to the following permalink: <a rel="canonical nofollow" href="{{site.url}}{{page.clean_url}}">{{site.url}}{{page.clean_url}}</a>. Or, click the buttons to share this on social media.

<a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" >
            <i class="fa fa-twitter share-button"> twitter</i>
</a>    
    
    
<a class="twitter-mention-button"
  href="https://twitter.com/intent/tweet?screen_name=raynamharris">
Tweet to @raynamharris</a>  </p>
  <p class="github">You can file issues or provide corrections:
    <a class="button" title="View source for this post"
       href="{{page.github_source_url}}">View Source on Github</a>.
  </p>
</div>
</div>



