<div id="respond" class="links">
  <h2>Links</h2>
  <p>To share this entry, or reference it in commentary of your own, link to the following permalink: <a rel="canonical nofollow" href="{{site.url}}{{page.clean_url}}">{{site.url}}{{page.clean_url}}</a>. Or, click the buttons to share this on social media.
</div>
<div class="follow-up">
  <p class="twitter">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Tweet</a>
<a class="twitter-mention-button"
  href="https://twitter.com/intent/tweet?screen_name=raynamharris">
Tweet to @raynamharris</a>  </p>
  <p class="github">You can file issues or provide corrections:
    <a class="button" title="View source for this post"
       href="{{page.github_source_url}}">View Source on Github</a>.
  </p>
</div>




