<div id="share-bar">

<link rel="me"
  href="https://twitter.com/raynamharris"
>

<h2>Share and comment!</h2>

Feel free to share this post on

<a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;via=raynamharris"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" >
            <i class="fa fa-twitter share-button"> Twitter</i>
</a>    

 or reply to 
    
<a class="twitter-mention-button"
  href="https://twitter.com/intent/tweet?screen_name=raynamharris"> @raynamharris</a>.  

<p>Please use this permalink <a rel="canonical nofollow" href="{{site.url}}{{page.url}}">{{site.url}}{{page.url}}</a> when referencing this post. 


  </p>
</div>
</div>



